# Ignore environment variables (SENSITIVE)
.env

# Ignore Python virtual environment
.venv/
venv/
ENV/

# Ignore Python cache & temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore test scripts
scratch_test.py
